# Opcional.
# Se você colocar um valor aqui no Render, o mod precisa enviar o mesmo valor no header x-foguinho-secret.
MOD_SECRET=

# Render define PORT automaticamente. Localmente você pode usar:
PORT=10000
